.footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--nav-font);
}

.footer {
  height: fit-content;
  margin-top: 5rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--footer-col);
  border-radius: 15px;
  position: relative;
}

.sections {
  display: flex;
  flex-direction: column;
}

.links-section {
  width: 70%;
  padding: 20px;
  background-color: var(--footer-col);
  border-radius: 20px;
  position: absolute;
  top: -2rem;
  left: 3rem;
}

.soc-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.soc-links > * {
  margin: auto;
  color: var(--text-main-col);
  transition: all 100ms ease-in-out;
}

.soc-links > *:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 0 15px var(--green));
}

.info-section {
  width: 100%;
  margin-top: 1rem;
  border-radius: 20px;
  text-align: center;
}

.gradient-word {
  margin: auto;
  font-size: 15px;
  background: var(--gradient-reverse);
  background-clip: text;
  color: transparent;
}

.product-div .title {
  font-size: 28px;
  border-bottom: 2px solid var(--purple);
  background: var(--gradient-reverse);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.product-list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.product-list > li {
  margin: 10px 0;
  color: var(--text-main-col);
}

.email-section {
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 95%;
  height: 100%;
  border-radius: 20px;
}

.email-heading {
  margin-bottom: 1rem;
  width: 100%;
  height: 70%;
  font-size: 14px;
  background: var(--gradient-reverse);
  background-clip: text;
  color: transparent;
  text-align: center;
}

.email-form {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.email-input {
  margin: auto;
  outline: none;
  width: 70%;
  height: 50%;
  padding: 15px;
  background-color: transparent;
  border: 2px solid var(--text-main-col);
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
  color: var(--green);
  transition: all 300ms ease;
}

.email-submit-btn {
  outline: none;
  border: 2px solid var(--text-main-col);
  margin: 0 1rem;
  width: 25%;
  font-size: 20px;
  color: var(--text-main-col);
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  transition: all 500ms ease;
  opacity: 0.3;
  cursor: not-allowed;
}

.email-submit-btn.active {
  opacity: 1;
  cursor: pointer;
}

.email-submit-btn:hover {
  background-color: var(--text-main-col);
  color: var(--footer-col);
}

.email-input:focus {
  box-shadow: 0 0 50px 0 var(--green);
  background-color: var(--text-main-col);
  color: var(--footer-col);
  width: 80%;
  border-radius: 30px;
}
.email-input:focus::placeholder {
  color: var(--footer-col);
  transition: all 300ms ease;
}

.email-input::placeholder {
  color: var(--text-main-col);
  opacity: 80%;
}

.copyright {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  color: var(--green);
  font-size: 8px;
  text-align: center;
  padding: 0.5rem 0;
  position: absolute;
  bottom: 0px;
  left: 2rem;
  border: 1px solid var(--green);
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}

@media screen and (min-width: 768px) {
  .links-section {
    left: 7rem;
  }

  .email-section {
    margin-bottom: 2rem;
    width: 70%;
  }

  .email-heading {
    font-size: 24px;
  }
  .copyright {
    width: 60%;
    left: 9rem;
  }
}

@media screen and (min-width: 1024px) {
  .sections {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .links-section {
    padding: 0;
    margin: 0;
    position: static;
    width: 5%;
    border-right: 3px solid var(--text-main-col);
    border-radius: 0;
  }

  .soc-links {
    margin: 0;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }

  .info-section {
    width: 35%;
    margin: 0 3rem;
    border-right: 3px solid var(--text-main-col);
    border-radius: 0;
    text-align: start;
  }

  .product-div .title {
    width: 60%;
    margin: 0;
    font-size: 30px;
    padding: 0.5rem 0;
  }

  .product-list {
    font-size: 20px;
  }

  .email-section {
    width: 50%;
    margin: auto;
  }

  .email-heading {
    font-size: 22px;
  }

  .email-form {
    max-width: 500px;
  }

  .email-input {
    font-size: 15px;
  }

  .gradient-word {
    font-size: 22px;
  }

  .footer {
    padding-bottom: 0;
  }

  .copyright {
    position: static;
    margin-top: 2rem;
    width: 60%;
    font-size: 12px;
    background-color: var(--green);
    color: var(--footer-color);
  }
}
